html,
body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  scroll-behavior: smooth;
  color: #515151;
  background-image: url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.nav-item {
  transition: all 0.2s;
}

a {
  color: black;
  text-decoration: none;
}

.lang-selector {
  display: none;
}

.navigation {
  margin: 0;
}

.mobile-menu {
  list-style: none;
  margin: 22px 36px 0 24px;
  padding: 0;
  display: flex;
}

.desktop-menu {
  display: none;
}

.logo {
  display: none;
}

.menu-btn .fa-bars {
  font-size: 35px;
}

.hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
}

.topic-h2 {
  font-size: 27px;
  margin-bottom: 10px;
  color: #ec5242;
}

.hero h1 {
  font-size: 40px;
  font-weight: 800;
  margin-top: 0;
  color: #ec5242;

  /* background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: repeat;
	background-image: url('../img/text-background.jpg');
	color: transparent; */
}

.small-text {
  background-color: #c4c4c4;
  border: 2px solid #fff;
}

.small-text p {
  padding: 0 10px;
}

.date-h2 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 10px;
}

.hero h4 {
  margin-top: 0;
}

/* PROGRAM SECTION */

.program-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/program-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 20px 50px 20px;
}

.program-title {
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.program-title h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 52px;
  margin: 0;
  color: #fff;
  padding: 0 20px;
}

.program-title-line {
  height: 4px;
  width: 48px;
  background-color: #ec5242;
  border-radius: 24px;
}

.all-programs {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 30px 0;
  flex-wrap: wrap;
  justify-content: center;
}

.each-program {
  background-color: #3c3f46;
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 0 20px;
  transition: all 0.2s;
}

.each-program i {
  color: #fff;
  font-size: 30px;
}

.each-program h3 {
  color: #ec5242;
}

.each-program p {
  color: #fff;
}

.join-button button {
  padding: 40px 20px;
  background-color: #ec5242;
  font-size: 25px;
  color: #fff;
  border: none;
}

.program-bottom-text {
  display: none;
}

/* SPEAKERS SECTION */

.speakers-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 0 20px;
}

.speakers-title {
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.speakers-title h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 52px;
  margin: 0;
  color: #272a31;
  padding: 0 20px;
}

.speakers-title-line {
  height: 4px;
  width: 48px;
  background-color: #ec5242;
  border-radius: 24px;
}

.all-speakers {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  margin: 30px 0;
}

.each-speaker {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.speaker-img {
  min-width: 150px;
  height: 150px;
  background-color: #ec5242;
}

.speaker-img img {
  width: 100%;
  height: 100%;
}

.speaker-details {
  display: block;
}

.speaker-details h3 {
  font-size: 25px;
  margin: 0 0 5px 0;
}

.speaker-details h4 {
  font-size: 15px;
  font-style: italic;
  color: #ec5242;
  margin: 0;
}

.speaker-details-line {
  height: 2px;
  width: 28px;
  background-color: #ec5242;
  border-radius: 24px;
  margin: 15px 0;
}

.speaker-details p {
  font-size: 15px;
  margin: 0;
}

.more-speakers {
  width: 100%;
  padding-bottom: 50px;
}

.more-speakers button {
  background-color: #fff;
  border: 2px solid #e8e8e8;
  width: 100%;
  padding: 20px 0;
  font-size: 15px;
  font-weight: 500;
}

.more-speakers button i {
  padding-left: 10px;
  font-size: 15px;
  color: #ec5242;
}

/* PARTNERS SECTION */

.partner-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272a31;
  padding: 0 20px 50px 20px;
}

.partner-title {
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.partner-title h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 52px;
  margin: 0;
  color: #fff;
  padding: 0 20px;
}

.partner-title-line {
  height: 4px;
  width: 48px;
  background-color: #ec5242;
  border-radius: 24px;
}

.all-partners {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.each-partner img {
  width: auto;
  height: 35px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: all 0.5s;
}

/* FOOTER SECTION */

footer {
  display: flex;
  padding: 40px;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  background-color: #fff;
}

.footer-logo img {
  height: 60px;
  width: auto;
}

.footer-details {
  font-size: 12px;
}

/* ABOUT PAGE */

.about-hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 90vh;
  padding: 20px;
}

.about-hero h1 {
  font-size: 40px;
  font-weight: 800;
  margin-top: 30px;
  color: #ec5242;
}

.about-small-text {
  background-color: #fff;
  border: 1px solid #c4c4c4;
  align-self: center;
  padding: 30px 20px;
}

.about-small-text p {
  padding: 0 10px;
  margin: 5px 0;
}

.about-small-text-display {
  display: none;
}

.about-hero-contact {
  margin: 16px 0 0 0;
  color: #000;
}

.about-hero-contact-mail {
  text-decoration: underline;
  color: #000;
}

.logo-explain-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 0 10px;
  border-bottom: 2px solid #ccc;
}

.logo-explain-title {
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.logo-explain-title h2 {
  font-weight: 700;
  font-size: 25px;
  margin: 0 0 20px 0;
  color: #272a31;
  padding: 0 20px;
}

.logo-explain-title-line {
  height: 4px;
  width: 48px;
  background-color: #ec5242;
  border-radius: 24px;
  margin-bottom: 40px;
}

.logo-explain-section p {
  text-align: center;
  margin: 0;
}

.about-p-display {
  display: none;
}

.the-logo {
  border: 2px solid #ccc;
  margin: 60px 0 40px 0;
}

.the-logo img {
  padding: 20px 40px;
  width: auto;
  height: 100px;
}

.past-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 0 10px;
  border-bottom: 2px solid #ccc;
}

.past-title {
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.past-title h2 {
  font-weight: 700;
  font-size: 25px;
  margin: 0 0 20px 0;
  color: #272a31;
  padding: 0 20px;
}

.past-title-line {
  height: 4px;
  width: 48px;
  background-color: #ec5242;
  border-radius: 24px;
}

.past-text {
  text-align: center;
}

.all-summits {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  column-gap: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.all-summits h3 {
  font-size: 40px;
  margin: 0;
}

.each-summit {
  width: 350px;
  height: 220px;
  background: #ec5242;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.summit-1 {
  background: linear-gradient(rgba(236, 82, 66, 0.6), rgba(236, 82, 66, 0.6)), url("../img/concert-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.summit-2 {
  background: linear-gradient(rgba(236, 82, 66, 0.6), rgba(236, 82, 66, 0.6)), url("../img/concert-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .lang-selector {
    height: 40px;
    background-color: #272a31;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .lang-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    margin: 0;
    padding: 0 80px 0 0;
  }

  .lang-menu li a {
    color: #fff;
  }

  .navigation {
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .desktop-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
  }

  .desktop-menu li a {
    color: #3a4a42;
  }

  .logo {
    display: block;
  }

  .logo img {
    height: 60px;
    width: auto;
  }

  .mobile-logo {
    height: 30px;
    width: auto;
  }

  .menu-campaign-button {
    border: 4px solid #ec5242;
    padding: 10px;
  }

  .mobile-menu {
    display: none;
  }

  .hero {
    padding: 30px 20vw 0 150px;
  }

  .topic-h2 {
    font-size: 40px;
    font-weight: 400;
  }

  .hero h1 {
    font-size: 60px;
    margin-bottom: 10px;
  }

  .small-text {
    width: 600px;
  }

  .small-text p {
    font-size: 15px;
  }

  .date-h2 {
    font-size: 35px;
    margin-top: 20px;
  }

  .program-section {
    padding-top: 10px;
    padding-bottom: 50px;
  }

  .all-programs {
    flex-direction: row;
    column-gap: 10px;
  }

  .each-program {
    width: 180px;
    flex-direction: column;
    padding: 30px 20px;
    text-align: center;
    row-gap: 20px;
  }

  .each-program i,
  .each-program h3,
  .each-program p {
    padding: 0;
    margin: 0;
  }

  .join-button {
    display: none;
  }

  .program-bottom-text {
    display: block;
    color: #fff;
    text-decoration: underline;
  }

  .all-speakers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    padding: 0 10vw 20px 10vw;
  }

  .each-speaker {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  .more-speakers {
    display: none;
  }

  .about-hero h1 {
    font-size: 60px;
    margin-top: 70px;
  }

  .about-small-text {
    width: 80vw;
    padding: 30px 50px;
  }

  .about-small-text-display {
    display: block;
  }

  .about-p-display {
    display: block;
  }

  .all-summits {
    flex-direction: row;
    row-gap: 20px;
    column-gap: 20px;
    margin-bottom: 70px;
  }

  footer {
    padding: 40px 200px;
    justify-content: space-between;
  }

  .current-nav {
    color: #ec5242 !important;
  }
}

.menu-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #e5e5e5;
  z-index: 2;
  top: 0;
  left: 0;
  transition: all 0.4s ease-in-out;
}

.mobile-toggler {
  height: 95vh;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: all 0.4s ease-in-out;
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.menu-display {
  left: -100%;
}

.mobile-toggler-btn {
  padding-top: 20px;
}

.mobile-toggler .fa-xmark {
  font-size: 25px;
  color: #67798e;
  float: right;
  padding: 0 38px 0 0;
}

.mobile-toggler ul {
  padding: 0;
}

.mobile-toggler li {
  list-style: none;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #3a4a42;
  padding: 20px 0 20px 28px;
}

.mobile-toggler li a {
  color: #3a4a42;
}

.mobile-logo {
  height: 60px;
  width: auto;
}

.home-btn {
  padding-bottom: 0 !important;
}

.nav-item:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid #ec5242;
}

.each-program:hover {
  border: 2px solid #fff;
}

.each-partner img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}
